.tabs .tab-item {
    max-width: none;
}
.tabs .tab-item .icon {
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-color: black;
    background-size: contain;
}
.tabs .tab-item .icon.tab-feed-on {
    background-image: url("http://lin-res.mapitpix.com/Booster/ionic_git/www/img/BottomBar/tab-feed-on.png");
    background-color: #080d14;
}
.tabs .tab-item .icon.tab-feed-off {
    background-image: url("http://lin-res.mapitpix.com/Booster/ionic_git/www/img/BottomBar/tab-feed-off.png");
    background-color: #1b3047;
}
.tabs .tab-item .icon.tab-mygoals-on {
    background-image: url("http://lin-res.mapitpix.com/Booster/ionic_git/www/img/BottomBar/tab-mygoals-on.png");
    background-color: #080d14;
}
.tabs .tab-item .icon.tab-mygoals-off {
    background-image: url("http://lin-res.mapitpix.com/Booster/ionic_git/www/img/BottomBar/tab-mygoals-off.png");
    background-color: #1b3047;
}
.tabs .tab-item .icon.tab-goal-btn {
    background-image: url("http://lin-res.mapitpix.com/Booster/ionic_git/www/img/BottomBar/tab-goal-btn.png");
    background-color: #1b3047;
}
.tabs .tab-item .icon.tab-friendsgoals-on {
    background-image: url("http://lin-res.mapitpix.com/Booster/ionic_git/www/img/BottomBar/tab-friendsgoals-on.png");
    background-color: #080d14;
}
.tabs .tab-item .icon.tab-friendsgoals-off {
    background-image: url("http://lin-res.mapitpix.com/Booster/ionic_git/www/img/BottomBar/tab-friendsgoals-off.png");
    background-color: #1b3047;
}
.tabs .tab-item .icon.tab-notifications-on {
    background-image: url("http://lin-res.mapitpix.com/Booster/ionic_git/www/img/BottomBar/tab-notifications-on.png");
    background-color: #080d14;
}
.tabs .tab-item .icon.tab-notifications-off {
    background-image: url("http://lin-res.mapitpix.com/Booster/ionic_git/www/img/BottomBar/tab-notifications-off.png");
    background-color: #1b3047;
}
.circular {
    height: 80%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    /*background: url(http://link-to-your/image.jpg) no-repeat;*/
}
.goal-up-box {
    height: 100px;
    background-color: green;
}
.goal-up-title {
    float: left;
}
.goal-up-event-date {
    float: left;
}
/*# sourceMappingURL=app.css.map */
