<!-- {{item.ListSelfieCommentsLikes[0].ListBoostSelfie[0].SelfieId}} -->
<!-- <div class="line"></div> -->
<div ng-if="item.Boost.Status=='A'">
  <div class='goal-up-box pad'>
    <img src='{{item.RequestPicUrl}}' class='circular goal-up-pic' />
    <div class="goal-up-box-text">
      <div class='left'>
        <div>Title: {{item.Boost.Text}}</div>
        <div class='color-bt'>{{item.Boost.RequestUserName}}</div>
      </div>
      <img class='right top goal-up-camera' src='img/take_selfie_off.png'>
      <div class='right bottom goal-up-event-date color-green'>{{item.Boost.EventDateString}}</div>
    </div>
  </div>
</div>

<div ng-if="item.Boost.Status=='C'">
  <div class='goal-done-box pad'>
    <img src='{{item.Boost.UserPicUrl}}' class='circular goal-done-user-pic' />
    <div class='goal-up-box-text center'>
      <div class='center'>
        <div class='color-bt inline'>{{item.Boost.UserName}}</div>
        <div class='inline'>was boosted by </div>
        <br/>
        <div class='color-bt inline'>{{item.Boost.RequestUserName}}</div>
      </div>
    </div>
  </div>
  <div class="padding-bottom:5%;">
    <div class="width100p" ng-init="getSelfieByIndex($index)">
      <img src="data:image/png;base64,{{item.ListSelfieCommentsLikes[0].ListBoostSelfie[0].ImageData}}" class="width100p" />
      <!-- <img src='{{item.RequestPicUrl}}' class='width100p' /> -->
    </div>
  </div>
  <div class="row" id="boostTextAndDate">
    <div id="feedBoostText" class="margin-left">{{item.Boost.Text}}</div>
    <div class="right padR" id="boostDateText">{{item.Boost.EventDateString}}</div>
  </div>

  <a class="row" id="inspiredRow" href="#/app/likes/{{getSelfieId($index)}}">
    <div>
      <div class="margin-left">
        <img src="img/goal-completed/inspired-points.png" id="inspired-icon-width-px"></img>
      </div>
    </div>
    <div class='left padR'>
      <div id="inspiredNumText">{{getLikeCount($index)}} Got Inspired</div>
    </div>
    <div>
      <img src="img/goal-completed/privacy_world.png" class="icon-width-px right"></img>
    </div>
  </a>

  <div class="row">
    <div>
      <div class="margin-left">
        <img src="img/goal-completed/comment_icon.png" id="comment-icon-width-px"></img>
      </div>
    </div>
    <div class="col" class="margin-left">
      <div><span class='textColor'>{{item.RequestUserName}}</span> You got it from you mama?</div>
      <div><span class='textColor'>{{item.RequestUserName}}</span> Did ya?</div>
      <div id="allCommentsText">view all 20 comments</div>
    </div>
  </div>

  <div class="row">
    <div class="margin-left">
      <img id='inspiredBtn' ng-class="getLikeClass($index)" ng-click="likeClick($index)"></img>
      <img class="goal-done-comment-btn">
    </div>
    <div class="col-20">
      <img src="img/goal-completed/f-share.png" class="shareBtn"></img>
    </div>
  </div>
</div>
