<div class="line"></div>
<div class='goal-done-box pad'>
  <img src='{{item.RequestPicUrl}}' class='circular goal-done-user-pic' />
  <div class='goal-up-box-text center'>
    <div class='center'>
      <div class='color-bt inline'>{{item.RequestUserName}}</div>
      <div class='inline'>was boosted by UserId:</div>
      <div class='color-bt inline'>{{item.RequestUserId}}</div>
    </div>
  </div>
</div>

<div class="padding-bottom:5%;">
  <div class="width100p" ng-init="getSelfieByIndex($index)">
    <img src="data:image/png;base64,{{item.selfie.ImageData}}" />
    <!-- <img src='{{item.RequestPicUrl}}' class='width100p' /> -->
  </div>
</div>
<div class="row">
  <div>{{item.Text}}</div>
  <div class="right padR">{{item.EventDateString}}</div>
</div>

<div class="row">
  <div>
    <div>
      <img src="img/goal-completed/get-inspired-off.png" class="icon-width-px"></img>
    </div>
  </div>
  <div class='left padR'>
    <div>{NUM} Got Inspired</div>
  </div>
  <div>
    <img src="img/goal-completed/privacy_world.png" class="icon-width-px right"></img>
  </div>
</div>

<div class="row">
  <div>
    <div>
      <img src="img/goal-completed/comment_icon.png" class='icon-width-px'></img>
    </div>
  </div>
  <div class="col">
    <div>{{item.RequestUserName}} You got it from you mama?</div>
    <div>{{item.RequestUserName}} Did ya?</div>
    <div>view all 20 comments</div>
  </div>
</div>

<div class="row">
  <div class="col-10">
    <img src="img/goal-completed/get-inspired-off.png" class='icon-width-px'></img>
  </div>
  <div class="col-25 goal-done-comment-btn">
  </div>
  <div class="col-20">
    <img src="img/goal-completed/f-share.png" class='icon-width-px' style="margin-left:20%;"></img>
  </div>
</div>
