<ion-view hide-back-button="true" title="{{mytitle}}">
  <ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div style="position:relative">
      <div ng-show="showWorldFilter()">
        <a href="#/app/goals-world">
      -World-
      </a>
        <a href="#/app/goals-friends" class="right">
      -Friends-
      </a>
      </div>
      <ion-list>
        <ion-item ng-repeat="item in items">
          <ba-goal></ba-goal>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll on-infinite="loadMore()" distance="3000px">
      </ion-infinite-scroll>
    </div>
  </ion-content>
  <a href="#/app/new-goal-summary">
    <img src="../img/BottomBar/tab-goal-btn.png" class="addBoostBtnImg" style="margin-top:{{screenHeightString}}" />
  </a>
  <ion-footer-bar>
    <tabs-bottom></tabs-bottom>
  </ion-footer-bar>
</ion-view>
