<div class="line"></div>
<div class='goal-up-box pad'>
  <img src='{{item.RequestPicUrl}}' class='circular' />
  <div class="goal-up-box-text">
    <div class='left'>
      <div>Title: {{item.Text}}</div>
      <div class='color-bt'>{{item.RequestUserName}}</div>
    </div>
    <img class='right top goal-up-camera' src='img/take_selfie_off.png'>
    <div class='right bottom goal-up-event-date color-green'>{{item.EventDateString}}</div>
  </div>
</div>
