<!-- <div class="row">
  <div class="col col-50">.col1.col-50</div>
  <div class="col">.col2</div>
  <div class="col">.col3</div>
</div>

<div class="row">
  <div class="col col-75">.col4.col-75</div>
  <div class="col">.col5</div>
</div>
 -->
<div class="row">
  <div class="col-25">
    <img id="profile-pic" src="{{liker._ProfileModel.PicUrl}}" class="circular" style="width:100%;"></img>
  </div>
  <div class="col-50">
    {{liker._ProfileModel.Name}}
  </div>
  <div class="col-25">
    1d
  </div>
</div>
<div class="row">
  <div class="col-75 col-offset-25">
    {{liker._ProfileModel.Level}} * {{liker._ProfileModel.LikesTotal}}
  </div>
</div>
