<ion-view hide-back-button="true" title="{{mytitle}}">
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="liker in likers">
        <ba-like-row></ba-like-row>
      </ion-item>
    </ion-list>
    <!--
    <ion-infinite-scroll on-infinite="loadMore()" distance="3000px">
    </ion-infinite-scroll>
 		-->
  </ion-content>
  <ion-footer-bar>
    <tabs-bottom></tabs-bottom>
  </ion-footer-bar>
</ion-view>
