<ion-view hide-back-button="true" title="{{mytitle}}">
  <ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div id="fixed" when-scrolled="loadMore()">
      <ul>
        <li ng-repeat="i in items">yo {{i.id}}</li>
      </ul>
    </div>
  </ion-content>
  <ion-footer-bar>
    <tabs-bottom></tabs-bottom>
  </ion-footer-bar>
</ion-view>
