<ion-content>
  <ion-list>
    <ion-item ng-repeat="item in items">
      item {{$index}} {{item}}
    </ion-item>
  </ion-list>
  <ion-infinite-scroll on-infinite="loadMore()" distance="1%">
  </ion-infinite-scroll>
</ion-content>
