<div>
  <h3 class="newBoostTitle">Your Goal:</h3>
  <div class="setGoalBtn" ng-click="openGoalPopup()">{{goalText}}</div>
</div>
<div>
  <h3 class="newBoostTitle">Time:</h3>
  <div class="setDateBtn" ng-click="showDatetime()">{{tempBoostDateTime}}</div>
</div>
<div>
  <h3 class="newBoostTitle">Your Booster:</h3>
  <a href="#/app/choosebooster">
    <div class="chooseBoosterBtn">
      <img id="boosterImg" src="{{boost.picUrl}}" alt="Boost">
      <div class="chooseBoosterText">{{boosterName}}</div>
    </div>
  </a>
</div>
