<ion-view hide-back-button="true" title="New Goal Summary">
  <ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <new-goal-summary></new-goal-summary>
  </ion-content>
  <add-boost-btn></add-boost-btn>
  <!--  
  <div ng-show="showBoostBtn">
 		<popup-your-goal></popup-your-goal>
  </div>
 -->
</ion-view>
