<ion-view hide-back-button="true" title="Notifications">
  <ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content class="has-header">
    content
  </ion-content>
  <ion-footer-bar>
    <tabs-bottom></tabs-bottom>
  </ion-footer-bar>
</ion-view>
