<!-- <body ng-app="myApp" ng-controller="GetBoostCtrl"> -->
<img class="datePopuptitle" src="">
<textarea id="dateBox" rows="5" cols="30" placeholder="" readonly autofocus='false'></textarea>
<br/>
<!-- </body> -->
