<img id="closeBtn" ng-click="closeBtn();" src="">
<img class="popuptitle" src="">
<textarea id="textarea" rows="5" cols="30" placeholder=" Type here...ex. Go to gym, Eat salad for lunch, Study for exam, etc." autofocus='true'></textarea>
<img type="button" id="send_btn" ng-click="goBtn();">
