<ion-view hide-back-button="true" title="Profile">
  <ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div id="top_profile">
      <img id="profile_beckground" />
      <img id="profile_img" />
      <div id="name_div">
        <span id="profile_name">Jessica Alba</span>
      </div>
    </div>
    <img id="star_img">
    <br/>
    <span id="credits">512,000</span>
    <br/>
    <br/>
    <span id="buttom_text">Inspiration Point </span>
    <br/>
    <br/>
    <span id="buttom_text2">*The number of peopel inspired</span>
    <br/>
    <span id="buttom_text3">by your success</span>

    <!-- Profile FbToken={{FbToken}} -->
    <!-- <br> profile.result={{profile}} -->
  </ion-content>
</ion-view>
