<!-- <div class="tabs-striped tabs-color-assertive"> -->
<ion-tabs>
  <ion-tab title="Feed" icon-on="tab-feed-on" icon-off="tab-feed-off" href="#/app/goals-world">
  </ion-tab>
  <ion-tab title="My Goals" icon-on="tab-mygoals-on" icon-off="tab-mygoals-off" href="#/app/goals-my">
  </ion-tab>
  <!-- <ion-tab title="Add Boost" icon-on="tab-goal-btn" icon-off="tab-goal-btn" href="#/app/new-goal-summary">
    </ion-tab> -->
  <ion-tab title="Friend's Goals" icon-on="tab-friendsgoals-on" icon-off="tab-friendsgoals-off" href="#/app/goals-boostees">
  </ion-tab>
  <ion-tab title="Notifications" icon-on="tab-notifications-on" icon-off="tab-notifications-off" href="#/app/notifications">
  </ion-tab>
</ion-tabs>
<!-- </div> -->
