@font-face {
  font-family: 'robotobold';
  src: url("../lib/ionic/fonts/roboto-bold-webfont.eot");
  src: url("../lib/ionic/fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../lib/ionic/fonts/roboto-bold-webfont.woff") format("woff"), url("../lib/ionic/fonts/roboto-bold-webfont.ttf") format("truetype"), url("../lib/ionic/fonts/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url("../lib/ionic/fonts/roboto-light-webfont.eot");
  src: url("../lib/ionic/fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../lib/ionic/fonts/roboto-light-webfont.woff") format("woff"), url("../lib/ionic/fonts/roboto-light-webfont.ttf") format("truetype"), url("../lib/ionic/fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url("../lib/ionic/fonts/roboto-regular-webfont.eot");
  src: url("../lib/ionic/fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../lib/ionic/fonts/roboto-regular-webfont.woff") format("woff"), url("../lib/ionic/fonts/roboto-regular-webfont.ttf") format("truetype"), url("../lib/ionic/fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.tabs .tab-item {
  max-width: none;
}
.tabs .tab-item .icon {
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-color: black;
  background-size: contain;
}
.tabs .tab-item .icon.tab-feed-on {
  background-image: url("../img/BottomBar/tab-feed-on.png");
  background-color: #080d14;
}
.tabs .tab-item .icon.tab-feed-off {
  background-image: url("../img/BottomBar/tab-feed-off.png");
  background-color: #1b3047;
}
.tabs .tab-item .icon.tab-mygoals-on {
  background-image: url("../img/BottomBar/tab-mygoals-on.png");
  background-color: #080d14;
}
.tabs .tab-item .icon.tab-mygoals-off {
  background-image: url("../img/BottomBar/tab-mygoals-off.png");
  background-color: #1b3047;
}
.tabs .tab-item .icon.tab-friendsgoals-on {
  background-image: url("../img/BottomBar/tab-friendsgoals-on.png");
  background-color: #080d14;
}
.tabs .tab-item .icon.tab-friendsgoals-off {
  background-image: url("../img/BottomBar/tab-friendsgoals-off.png");
  background-color: #1b3047;
}
.tabs .tab-item .icon.tab-notifications-on {
  background-image: url("../img/BottomBar/tab-notifications-on.png");
  background-color: #080d14;
}
.tabs .tab-item .icon.tab-notifications-off {
  background-image: url("../img/BottomBar/tab-notifications-off.png");
  background-color: #1b3047;
}
.addBoostBtnImg {
  background-image: url("../img/BottomBar/tab-goal-btn.png");
  width: 60px;
  left: 40%;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 999;
  padding-bottom: 100%;
}
.bold {
  font-weight: bold;
}
.width100p {
  width: 110%;
  margin-left: -9px;
}
.icon-width-px {
  width: 10px;
  margin-top: 5px;
}
.icon-height-px {
  height: 10px;
}
.inline {
  display: inline-block;
  margin-left: 4px;
  font-size: 12pt;
  color: #333C48;
}
.line {
  height: 1px;
  background: black;
  width: 100%;
  font-size: 1px;
  background-color: #f0f0f0;
}
#inspiredRow {
  margin-top: 0px !important;
}
.pad {
  padding: 3% 3% 3% 3%;
}
.pad1 {
  padding: 1% 1% 1% 1%;
}
.padT {
  padding-left: 3%;
}
.padR {
  padding-left: 3%;
}
.padB {
  padding-left: 3%;
}
.padL {
  padding-left: 3%;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.center-text {
  text-align: center;
  veritical-align: middle;
}
.top {
  position: absolute;
  top: 0px;
}
.right {
  position: absolute;
  right: 10px;
}
.bottom {
  position: absolute;
  bottom: 0px;
}
.circular {
  float: left;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  width: 15%;
  margin-left: -15px;
}
#SSboostTitle {
  margin-top: 25%;
  margin-left: 5%;
  font-size: 13pt;
}
.upper, .lower, .sfooter {
  position: absolute;
  left: 0;
  right: 0;
}
.upper {
  top: 0;
  height: 33%;
}
.lower {
  top: 30%;
  height: 33%;
}
.sfooter {
  bottom: 0;
  height: 33%;
}
section#selfieSection {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}
div#SSboostSelfie {
  background: url(../img/ShareBoost/morning_picdump.png);
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 40%;
  height: 180px;
  float: left;
}
div#SSboostCommentDiv {
  background: url(../img/ShareBoost/comment-box.png);
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  margin-left: 42%;
  height: 300px;
}
#SSboostGoalAchieved {
  background: url(../img/ShareBoost/goal-achieved-badge.png);
  position: absolute;
  top: 100%;
  margin-left: 30%;
  width: 24%;
  padding-bottom: 100%;
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
#SSboostComment {
  background: url(../img/ShareBoost/comment-box.png);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 39%;
}
#SSdividerLine {
  background: url(../img/ShareBoost/divider-line.png);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 90%;
  padding-bottom: 100%;
  margin-top: -100%;
  margin-left: 5%;
  margin-right: 5%;
}
#SStitle {
  margin-left: 25%;
  position: absolute;
  margin-top: 38%;
  font-size: 13pt;
}
#SSboosterProfilePic {
  background: url(../img/ShareBoost/sample_pic.png);
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  width: 25%;
  margin-top: 48%;
  margin-left: 35%;
}
#SSBoosterName {
  margin-left: -26%;
  text-align: center;
  position: absolute;
  margin-top: 75%;
  font-size: 14pt;
  font-family: 'robotobold';
}
#SSdividerLine2 {
  background: url(../img/ShareBoost/divider-line.png);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 90%;
  padding-bottom: 100%;
  margin-top: -30%;
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
}
#postDiv {
  margin-top: 140%;
  margin-left: 5%;
  font-size: 13pt;
}
section#buttonSection {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}
#SSbackgroundButtons {
  background: url(../img/ShareBoost/privacy-background.png);
  background-size: 110%;
  background-position: center center;
  background-repeat: no-repeat;
}
.privacyButton {
  height: 40px;
  display: inline-block;
  padding-bottom: 40px;
  width: 49%;
  margin-top: 1%;
}
img.worldSectionOn {
  background: url(../img/ShareBoost/privacy-world-on.png);
  float: left;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 1%;
}
img.worldSectionOff {
  background: url(../img/ShareBoost/privacy-world-off.png);
  float: left;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 1%;
}
img.friendsSectionOn {
  background: url(../img/ShareBoost/privacy-friends-on.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 1%;
}
img.friendsSectionOff {
  background: url(../img/ShareBoost/privacy-friends-off.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 1%;
}
#shareBtn {
  background: url(../img/ShareBoost/share-button.png);
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 90%;
  padding-bottom: 100%;
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}
.margin-left {
  margin-left: -12px;
}
.like-button-off {
  background-image: url("../img/goal-completed/get-inspired-off.png");
  content: url("../img/goal-completed/get-inspired-off.png");
}
.like-button-on {
  background-image: url("../img/goal-completed/get-inspired-on.png");
  content: url("../img/goal-completed/get-inspired-on.png");
}
.color-bb {
  background-color: #477ebb;
}
.color-bt {
  color: #477ebb;
}
.color-green {
  color: #48be3d;
}
goal-done-user-pic {
  height: 30%;
}
goal-up-user-pic {
  height: 60%;
}
.goal-up-box {
  position: relative;
  height: 80px;
}
.goal-done-box {
  position: relative;
  height: 60px;
}
.goal-up-box-text {
  margin-left: 3%;
  font-family: "robotobold";
  font-weight: normal;
}
.goal-up-title {
  float: left;
}
.goal-up-user-name {
  float: left;
}
.goal-up-camera {
  background-image: url("img/take_selfie_off.png");
  width: 30px;
  margin: 3% 3% 0% 0%;
}
.goal-up-event-date {
  float: bottom;
  margin: 0% 3% 3% 0%;
}
.goal-done-top {
  height: 60px;
}
.goal-done-comment-btn {
  background-image: url("../img/goal-completed/comment_btn.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: url("../img/goal-completed/comment_btn.png");
  margin-left: 1%;
  width: 50%;
}
.goal-done-box-pad {
  font-size: 10pt;
}
#boostDateText {
  font-size: 8pt;
}
#boostTextAndDate {
  margin-top: -6px;
}
#feedBoostText {
  font-family: robotobold;
  color: #333C48;
  position: relative;
  display: inline;
  white-space: pre-wrap;
  width: 80%;
}
#inspired-icon-width-px {
  width: 18px;
}
#inspiredNumText {
  font-family: 'robotobold';
  font-size: 13pt;
  color: #477ebb;
}
#comment-icon-width-px {
  width: 18px;
  margin-top: 5px;
}
.textColor {
  font-family: 'robotobold';
  font-size: 13pt;
  color: #477ebb;
}
#allCommentsText {
  font-family: 'robotobold';
  font-size: 13pt;
  color: #808080;
}
#inspiredBtn {
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 100px;
}
.shareBtn {
  width: 55%;
  margin-left: -4px;
}
.setGoalBtn {
  background: url(../img/NewGoal/goal-summary-box.png);
  margin-top: -8px;
  margin-left: 5%;
  padding-bottom: 13px;
  width: 90%;
  height: 50px;
  padding-top: 13px;
  padding-left: 50px;
  font-size: 13pt;
  font-weight: normal;
  font-family: 'robotolight';
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.newBoostTitle {
  margin-top: 15px;
  margin-left: 15px;
  font-weight: normal;
  font-family: 'robotolight';
  font-size: 13pt;
}
.setDateBtn {
  background: url(../img/NewGoal/time_summary_box.png);
  margin-top: -8px;
  margin-left: 5%;
  padding-bottom: 13px;
  width: 90%;
  height: 50px;
  padding-top: 13px;
  padding-left: 50px;
  font-size: 13pt;
  font-weight: normal;
  font-family: 'robotolight';
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.chooseBoosterBtn {
  background: url(../img/NewGoal/booster-summary-box.png);
  margin-top: -8px;
  margin-left: 5%;
  padding-bottom: 13px;
  width: 90%;
  height: 80px;
  padding-top: 13px;
  padding-left: 50px;
  font-size: 13pt;
  font-weight: normal;
  font-family: 'robotolight';
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
#boosterImg {
  width: 55px;
  margin-left: -40px;
  margin-top: -7px;
  border-radius: 50%;
}
.chooseBoosterText {
  line-height: 40px;
  margin-left: 30px;
  margin-top: -50px;
}
.add-boost-btn-on {
  background: url(../img/NewGoal/summary-send-btn-on.png);
}
.add-boost-btn-off {
  background: url(../img/NewGoal/summary-send-btn-off.png);
}
#round-button-circle {
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
  padding-bottom: 100%;
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -25%;
}
#textarea::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.5;
}
#textarea:-moz-placeholder {
  color: #000000;
  opacity: 0.5;
}
#textarea::-moz-placeholder {
  color: #000000;
  opacity: 0.5;
}
#textarea:-ms-input-placeholder {
  color: #000000;
  opacity: 0.5;
}
.datePicker {
  margin-top: 300px;
}
.popup {
  background-color: transparent;
  width: 90%;
  margin-top: -60%;
  border-width: 0px;
  border-color: transparent;
  border-style: none;
}
.popup-head {
  padding: 0px 0px;
  border-bottom: 0px;
}
.popup-body {
  margin-top: -40px;
}
.popup popup-showing active {
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}
.backdrop {
  background: url("../img/NewGoal/black.png") no-repeat center center fixed;
}
#closeBtn {
  background: url("../img/NewGoal/x_button.png") no-repeat center center;
  width: 20px;
  height: 20px;
  margin-left: 93%;
  padding-bottom: 8%;
}
.popuptitle {
  background: url("../img/NewGoal/new_goal_title.png");
  height: 50px;
  display: inline-block;
  padding-bottom: 70px;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
#send_btn {
  background: url("../img/NewGoal/ok_btn.png");
  height: 50px;
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  border-bottom-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  padding-bottom: 60px;
}
#textarea {
  background: url("../img/NewGoal/new_goal_box.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -30px;
  height: 135px;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-top-left-radius: 0px 0px;
  border-top-right-radius: 0px 0px;
  padding-left: 4px;
  padding-top: 5px;
}
.datePopuptitle {
  background: url("../img/NewGoal/set_time_title.png");
  height: 50px;
  display: inline-block;
  padding-bottom: 70px;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
#dateBox {
  background: url("../img/NewGoal/set_time_box.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -30px;
  height: 80px;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-top-left-radius: 0px 0px;
  border-top-right-radius: 0px 0px;
}
img.addBoostBtn {
  width: 100px;
  bottom: 20px;
  position: relative;
  margin: 5px 5px 5px 5px;
}
.boosterLogo {
  width: 90%;
  margin: 10px auto;
  display: block;
  margin-top: 20px;
}
.aboutUsTitle {
  color: #4a87ee;
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 30px;
  font-size: 16px;
  margin-left: 10px;
  font-weight: bold;
}
.aboutText {
  margin-left: 10px;
}
#top_profile {
  position: relative;
  left: 0;
  top: 0;
  height: 240px;
}
#profile_beckground {
  background: url("../img/Profile/profile-bg.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
}
#profile_img {
  background: url("../img/Profile/sample_pic.png");
  position: absolute;
  top: 40px;
  margin-left: 30%;
  width: 130px;
  background-size: 100%;
  padding-bottom: 130px;
}
#name_div {
  display: table;
  height: 100px;
  text-align: center;
}
#profile_name {
  position: absolute;
  top: 180px;
  transform: translateX(86%);
  font-size: 18pt;
  font-family: robotobold;
  color: white;
  margin-left: 30%;
}
#star_img {
  background: url("../img/Profile/inspiriation-icon.png");
  margin-top: 5px;
  width: 130px;
  height: 130px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 128px;
  margin-left: 35%;
}
#credits {
  position: absolute;
  color: #477ebb;
  font-size: 30pt;
  font-family: robotobold;
  margin-left: 28%;
}
#buttom_text {
  position: absolute;
  color: #333C48;
  font-size: 16pt;
  font-family: robotoregular;
  margin-left: 26%;
}
#buttom_text2 {
  position: absolute;
  font-size: 13pt;
  font-family: robotolight;
  margin-left: 14%;
}
#buttom_text3 {
  position: absolute;
  font-size: 13pt;
  font-family: robotolight;
  margin-left: 30%;
}
.li {
  height: 120px;
  border-bottom: 1px solid gray;
}
#fixed {
  height: 400px;
  overflow: auto;
}
#profile-pic {
  width: 15%;
  height: 15%;
}
/*# sourceMappingURL=app.css.map */
